body
{
    margin: 0;
}
div.top
{
    background-image: url("backcover.png");
    padding: 10px 0 10px 10px;
    margin: 0;
    border-radius: 5px;
}
body
{
    background-image:url('../background-image.jpg');
    background-size: cover;
    background-repeat:no-repeat ;
    margin: 0;
}