*{background-color: white;}
iframe{border: none;}
button.float
{
    position: fixed;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}
button.float:hover{background-color: #eee;}
.header{text-align: center;}
.important
{
    color:red;
    font-weight: bold;
}
.strong{font-weight: bold;}